name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  prerequisites:
    uses: ./.github/workflows/test.yml

  pyodide:
    uses: ./.github/workflows/pyodide.yml
