name: Pyodide Test

on:
  workflow_call:
    inputs:
      build-artifact-name:
        required: true
        type: string
      build-artifact-path:
        required: true
        type: string
      pyodide-version:
        required: false
        type: string
        default: "0.27.2"
      os:
        required: false
        type: string
        default: "ubuntu-latest"
      runner:
        required: false
        type: string
        default: "selenium"
      browser:
        required: false
        type: string
        default: "chrome"
      browser-version:
        required: false
        type: string
        default: "latest"
      playwright-version:
        required: false
        type: string
        default: "" # latest
      pytest-extra-args:
        required: false
        type: string
        default: ""
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-${{ inputs.os }}-${{ inputs.runner }}-${{ inputs.browser }}-${{ inputs.browser-version }}-${{ inputs.pyodide-version }}-${{ inputs.playwright-version }}
  cancel-in-progress: true

jobs:
  test:
    name: test (${{ inputs.pyodide-version}},${{ inputs.browser }},${{ inputs.runner }})
    runs-on: ${{ inputs.os }}
    env:
      DISPLAY: :99
      FORCE_COLOR: 3
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        if: ${{ contains(inputs.browser, 'node') || inputs.runner == 'playwright' }}
        with:
          node-version: ${{ inputs.browser-version }}

      - name: Cache Playwright browsers
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        if: ${{ inputs.runner == 'playwright' }}
        with:
          path: .cache/ms-playwright
          key: ${{ runner.os }}-playwright-latest

      - name: Install playwright
        if: ${{ inputs.runner == 'playwright' }}
        run: |
          if [ -n "${{ inputs.playwright-version }}" ]
          then
            python -m pip install playwright==${{inputs.playwright-version}}
          else
            python -m pip install playwright
          fi
          # TODO: install only browsers that are required
          python -m playwright install --with-deps

      - uses: pyodide/pyodide-actions/download-pyodide@012fa537869d343726d01863a34b773fc4d96a14 # v2
        with:
          version: ${{ inputs.pyodide-version }}
          to: pyodide-dist

      - uses: pyodide/pyodide-actions/install-browser@012fa537869d343726d01863a34b773fc4d96a14 # v2
        with:
          runner: ${{ inputs.runner }}
          browser: ${{ inputs.browser }}
          browser-version: ${{ inputs.browser-version }}
          playwright-version: ${{ inputs.playwright-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download build artifacts from calling package
        if: ${{ inputs.build-artifact-name != 'none' }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ inputs.build-artifact-name }}
          path: ${{ inputs.build-artifact-path }}
          merge-multiple: true

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.12

      - name: install pyodide-py
        run: |
          python -m pip install pyodide-py==${{inputs.pyodide-version}}

      - name: Install pytest-pyodide
        run: |
          python -m pip install pytest-pyodide

      - name: Run tests
        run: |
          python -m pytest -vra \
            --dist-dir=./pyodide-dist/ \
            --runner=${{ inputs.runner }} \
            --rt=${{ inputs.browser }} \
            ${{ inputs.pytest-extra-args }} \
            tests/pyodide
